@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@300;400;600;700&display=swap");
.navbar__menu--links, .navbar__menu, .navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background: #fdfdfd;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}
.navbar__logo {
  color: #0d2738;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 24px;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar__bars {
    color: #0d2738;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu--links {
  color: #0d2738;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar__menu--links:hover {
  color: #0d2738;
  transition: all 0.3s ease;
}
.navbar__menu #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #0d2738;
  margin-left: 16px;
  color: #fdfdfd;
}
.navbar__menu #button:hover {
  background: #ff8700;
  transition: all 0.4s ease;
}

.hero {
  background-color: #fdfdfd;
}
.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (max-width: 768px) {
  .hero__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.hero__container--left {
  width: 100%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .hero__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 590px) {
  .hero__container--left {
    line-height: 1.5;
  }
}
.hero__container--left h1 {
  font-size: 4rem;
  color: #0d2738;
}
@media screen and (max-width: 590px) {
  .hero__container--left h1 {
    font-size: 1.5rem;
  }
}
.hero__container--left h2 {
  font-size: 3.7rem;
  color: #fdfdfd;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: #0d2738;
}
@media screen and (max-width: 590px) {
  .hero__container--left h2 {
    font-size: 2rem;
  }
}
.hero__container--left p {
  font-size: 2rem;
  color: #0d2738;
  margin-top: 1rem;
  font-weight: 700;
}
@media screen and (max-width: 590px) {
  .hero__container--left p {
    font-size: 1.5rem;
  }
}
.hero__container--btn {
  font-size: 1rem;
  background-color: #0d2738;
  padding: 14px 30px;
  border: none;
  border-radius: 4px;
  color: #fdfdfd;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
}
.hero__container--btn a {
  position: relative;
  z-index: 2;
  color: #fdfdfd;
  text-decoration: none;
}
.hero__container--btn.blue:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0e6cff;
  transition: all 0.3s;
  border-radius: 4px;
}
.hero__container--btn.orange:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff8700;
  transition: all 0.3s;
  border-radius: 4px;
}
.hero__container--btn.green:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4caf50;
  transition: all 0.3s;
  border-radius: 4px;
}
.hero__container--btn:hover:after {
  width: 100%;
}
.hero__container--right {
  text-align: center;
}
.hero__container--img {
  height: 80%;
  width: 80%;
  border-radius: 4%;
}

.animate {
  opacity: 0;
  transform: translateY(45px);
  animation: moveup 0.7s linear forwards;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}/*# sourceMappingURL=style.css.map */